$form-select-border: #999999;
$form-select-error-border: #ff0000;

$select-background-color: #ffffff;

.form-select {
  width: 100%;
  height: 30px;

  padding: 0px 6px;

  border: 1px solid $form-select-border;
  background-color: $select-background-color;

  &_error {
    border: {
      color: $form-select-error-border;
    }
  }
}
